# arthmetic oprations

* fist we are testing + - / //

In [10]:
5+3

8

In [11]:
53-5

48

In [12]:
5*5

25

In [13]:
5/5

1.0

In [14]:
5/0

ZeroDivisionError: division by zero

In [15]:
0/5

0.0

In [16]:
5//0

ZeroDivisionError: integer division or modulo by zero

In [ ]:
55/4

13.75

In [17]:
55//4

13

In [18]:
55%4

3

In [19]:
'these is string'

'these is string'

In [20]:
"these is string "

'these is string '

In [21]:
print('''
These is also
a string
''')

These is also
a string

In [22]:
print('''
"These is also
a string with quatation marks"
''')

"These is also
a string with quatation marks"

In [23]:
print(r"'these also a sting wit back salsh\ and single quatation marks'")

'these also a sting wit back salsh\ and single quatation marks'

In [24]:
print("how are you\n i am fine ")

how are you
 i am fine

In [25]:
a = "disc"

In [26]:
print(f"i am fine {a}")

i am fine disc

In [27]:
a1 = "hellowee wordoo00"

In [28]:
a1[0]

'h'

In [29]:
a1[6]

'e'

In [30]:
a1[-6]

'r'

In [31]:
a1[1:2]

'e'

In [32]:
a1[0:-1:2]

'hloe odo'

In [33]:
a1[3:-1:3]

'lewd0'

In [34]:
a1[3:-1:3:2]

SyntaxError: invalid syntax (3177670995.py, line 1)

In [35]:
'hello' in a1

True

In [36]:
'Hello' in a1

False

In [37]:
'' in a1

True

In [38]:
'car' in a1

False

In [39]:
'car' not in a1

True

In [40]:
a1.islower()

True

In [41]:
a1.isupper()

False

In [42]:
a1.isalnum()

False

In [43]:
a.isalpha()

True

In [44]:
a.isalnum()

True

In [45]:
a.isdecimal()

False

In [46]:
a.isspace()

False

In [47]:
a.istitle()

False

In [48]:
a.startswith('h')

False

In [49]:
a1.startswith('h')

True

In [50]:
if a.endswith('d'):
    print('You Are Right')

else:
    print("better luck Next Time")

better luck Next Time

In [51]:
b = a1.split()
print(b)

['hellowee', 'wordoo00']

In [52]:
b.join()

AttributeError: 'list' object has no attribute 'join'

In [ ]:
" : ".join(b)

'hellowee : wordoo00'

In [53]:
a.rjust(10)

'      disc'

In [54]:
a.ljust(10)

'disc      '

In [55]:
a.center(10)

'   disc   '

In [56]:
a.rjust(10,'!')

'!!!!!!disc'

In [57]:
a.ljust(10,'!')

'disc!!!!!!'

In [58]:
a.center(10,'!')

'!!!disc!!!'

In [59]:
c = a.center(10)

In [60]:
c

'   disc   '

In [61]:
c.stirp()

AttributeError: 'str' object has no attribute 'stirp'

In [ ]:
c.strip()

'disc'

In [ ]:
c.lstrip()

'disc   '

In [62]:
c.rstrip()

'   disc'

In [63]:
a1.count('h')

1

In [64]:
a.replace('d','bas')

'basisc'

# print

In [65]:
# we use the print function to print the value

In [66]:
a= 20 
a

20

In [67]:
b = 200
b

200

In [68]:
#till here it is returning the value 
#but what if i try to get the multipul lines in one cel

In [69]:
a
b

200

In [70]:
#we see that it is only giving us the last ouptut so we have to use print fuctions

In [71]:
print(a)
print(b)

20
200

In [72]:
print(a,b)

20 200

In [73]:
c= b+a

In [74]:
print(f'sum of {a} and {b} is {c}')

sum of 20 and 200 is 220

In [75]:
print(a,end= '\t')
print(b)

20	200

In [76]:
print(a,b,sep='//')

20//200

In [77]:
Name = "gurdeep singh jat"

In [78]:
Name.upper()

'GURDEEP SINGH JAT'

In [79]:
Name.lower()

'gurdeep singh jat'

In [80]:
Name.capitalize()

'Gurdeep singh jat'

In [81]:
Name.swapcase()

'GURDEEP SINGH JAT'

In [82]:
Name.title()

'Gurdeep Singh Jat'

In [83]:
'gurdeep' in Name

True

In [84]:
'Gurdeep' in Name

False

In [85]:
a1 +' '+ Name

'hellowee wordoo00 gurdeep singh jat'

In [86]:
len(Name)

17

In [87]:
min(Name)

' '

In [88]:
max(Name)

'u'

In [89]:
'som' not in Name

True

In [90]:
Name*4

'gurdeep singh jatgurdeep singh jatgurdeep singh jatgurdeep singh jat'

In [91]:
Name[4]

'e'

In [92]:
Name.center(55)

'                   gurdeep singh jat                   '

In [93]:
Name.isspace()

False

In [94]:
Name.ljust(55)

'gurdeep singh jat                                      '

In [95]:
Name.rjust(55)

'                                      gurdeep singh jat'

In [96]:
Name.strip()
# it is similar to trim function

'gurdeep singh jat'

In [97]:
Name.find('e')

4

In [98]:
Name.index('d')

3

In [99]:
Name.replace('p','s')

'gurdees singh jat'

In [100]:
Name.replace('e','s',1)

'gurdsep singh jat'

In [101]:
Name.rfind('q')

-1

In [102]:
Name.rindex('s')

8

In [103]:
Name.join('475')

'4gurdeep singh jat7gurdeep singh jat5'

In [104]:
Name.rpartition('e')

('gurde', 'e', 'p singh jat')

In [105]:
Name.split()

['gurdeep', 'singh', 'jat']

In [106]:
Name.rsplit('e')

['gurd', '', 'p singh jat']

In [107]:
Name.rsplit('e',1)

['gurde', 'p singh jat']

In [108]:
Name.splitlines()

['gurdeep singh jat']

In [109]:
Name.endswith('t')

True

In [110]:
Name.isdigit()

False

In [111]:
Name.isidentifier()

False

In [112]:
#Variables in Python

•	What is a variable in Python, and how do you create one?

In [113]:
variable = "continers to store the data "

•	How can you create a variable named age and print its value?

In [114]:
age = 26
age

26

In [115]:
print(age)

26

In [116]:
print(age)
age += 1 
print(age)

26
27

In [117]:
#can not start with digit
1byn = 1

SyntaxError: invalid decimal literal (1660874366.py, line 2)

In [ ]:
#it can not have a special character 
byn$ = 1

SyntaxError: invalid syntax (951314236.py, line 2)

In [ ]:
# it can not have a reserved keyword 
if = ' you '

SyntaxError: invalid syntax (3791783765.py, line 2)

In [ ]:
# the vairalbe is case sensitive 
che = "jjj"
print(che)
print(Che)

jjj

NameError: name 'Che' is not defined

In [ ]:
# the only allowed special character is underscore
che_1 = 1
che_1

1

In [ ]:
# the variable has no lenght limit
DDDDDDddddddddddddDDDDDD= 'dd'
DDDDDDddddddddddddDDDDDD

'dd'

In [ ]:
s = '0123456789'

In [ ]:
s[:2]

'01'

In [ ]:
a,b,c = 1,2,3

In [ ]:
a+b+c

6

In [ ]:
type(a)

int

In [ ]:
petrol_price = 100.52

In [ ]:
f =2e0
f

2.0

In [118]:
2e3

2000.0

In [119]:
d = False
d
f = True

In [120]:
f+d

1

In [121]:
f-d

1

In [122]:
d-f

-1

In [123]:
f*d

0

In [124]:
f/d

ZeroDivisionError: division by zero

In [ ]:
d/f

0.0

In [ ]:
d**f

0

In [ ]:
f**d

1

In [ ]:
c = 1 + 2j

In [ ]:
d = 5 + 55j

In [125]:
e = d+c

In [126]:
e

220

In [127]:
e.real

220

In [128]:
e.imag

0

In [129]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [130]:
keyword.len()

AttributeError: module 'keyword' has no attribute 'len'

In [ ]:
s = 'nit'

In [ ]:
s

'nit'

In [ ]:
'nit'

'nit'

In [ ]:
type(s)

str

In [ ]:
s[0:11:2]

'nt'

In [ ]:
float(1)

1.0

In [ ]:
float(True)

1.0

In [131]:
float(1,2)

TypeError: float expected at most 1 argument, got 2

In [ ]:
complex(10)

(10+0j)

In [132]:
complex(1,25)

(1+25j)

In [133]:
bool(1)

True

In [134]:
bool('s')

True

In [136]:
Name

'gurdeep singh jat'

In [138]:
Name[::-1]

'taj hgnis peedrug'